.Panel {
    padding: 20px;
}

.Panel:nth-child(even) {
    background: #eaeaea;
}

.Panel-Header {
    width: 100%;
    font-size: 18pt;
}

@media print {
    .Panel {
        padding: 5px;
    }
    
    .Panel:nth-child(even) {
        background: #eaeaea;
    }
    
    .Panel-Header {
        width: 100%;
        font-size: 15pt;
        padding-top: 5px;
    }
}