.Panel {
    padding: 20px;
}

.Small .Panel {
    padding: 10px 20px;
}

.Small .Panel-Header {
    font-size: 12pt;
}

.Panel:nth-child(even) {
    background: #eaeaea;
}

.Panel-Header {
    width: 100%;
    font-size: 16pt;
    font-weight: 700;
}

.Small p {
    margin: 5px 0 0 0;
}

.Small ul {
    margin: 10px 0 0 0;
}

@media print {
    .Panel {
        padding: 5px;
    }
    
    .Panel:nth-child(even) {
        background: #eaeaea;
    }
    
    .Panel-Header {
        width: 100%;
        font-size: 15pt;
        padding-top: 5px;
    }
}