.Device {
    float: left;
    width: 100%;
}

.Device .Button-Container {
    display: flex;
    flex-flow: row wrap;
}

.Device .Button-Container .Button {
    flex-grow: 1;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    .Device {
        width: calc(50% - 20px);
        margin: 0 10px;
    }
}
