.ProfilePicture {
  float: right;
}

.ProfilePicture img {
  border-radius: 75px;
  box-shadow: 0px 0px 10px -2px black;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}

@media print {
  .ProfilePicture {
    margin-top: 0;
  }
}