.Email {
    display: grid;
    grid-template-columns: calc(75% - 10px) calc(25% - 10px);
    grid-gap: 20px;
}

.Email input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: black;
    outline: none;
    background: rgba(255,255,255,.3);
}

.Email input::placeholder {
    color: #ff5500;
}