.Login {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    padding: 10px;
    width: calc(100% - 30px);
}

.Login input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: white;
    outline: none;
    background: rgba(255,255,255,.3);
}

.Login input::placeholder {
    color: white;
}

.Login p {
    color: white;
}

.Login a {
    color: #00adee;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .Login {
        grid-template-columns: 75% 25%;
    }
    .Login input {
        grid-column: 1 / 3;
    }
}