body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

@media print
{
    div{
        page-break-inside: avoid;
    }
}

/* colors
  #464e6b - stormy
  #98878f - cloud
  #985e6d - sunset
  #192231 - evening
*/
