.Accordion {
    background: #985e6d;
    display: flex;
    flex-flow: row wrap;
    color: white;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}

.Accordion.Accordion-Status {
    background: #f14d4d;
}

.Accordion .Accordion-Header {
    flex-basis: 100%;
    flex-flow: row wrap;
    display: flex;
    cursor: pointer;
    padding: 0 10px;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Accordion .Accordion-Header:hover {
    background: #673f49;
}

.Accordion.Accordion-Status .Accordion-Header:hover {
    background: #a93535;
}

.Accordion .Accordion-Expand-Icon {
  float: left;
  line-height: 36px;
}

.Accordion .Accordion-Header .Accordion-Status {
    margin: 10px 0;
    line-height: 14pt;
}

.Accordion .Accordion-Header button {
    background: none;
    border: none;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.Accordion .Accordion-Content {
    padding: 5px 10px;
    width: 100%;
    border-top: 1px solid #673f49;
}

.Accordion.Accordion-Status .Accordion-Content {
    border-top: 1px solid #a93535;
}

.Accordion .Accordion-Header .Accordion-Title{
    margin: 10px 0;
    font-size: 14pt;
    line-height: 14pt;
}
