.Group {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0 0 0;
    box-shadow: 0px 0px 10px -2px #985e6d;
    border-radius: 5px;
}

.Group-Title {
    width: 100%;
    cursor: pointer;
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Group-Title:Hover {
  background-color: #985e6d;
  color: white;
}

.Group .Panel {
    margin: 10px 0;
}

.Group .Group-Expand-Icon {
  float: right;
  line-height: 22px;
}

.Group .Group-Content {
    width: 100%;
    border-top: 1px solid #985e6d;
    padding: 0 10px;
}
